body {
    margin: 0px;
}

.Navbar {
    display: grid;
    align-content: space-between;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr; */
    /* margin-left: 5px; */
    background-color: black;
    height: 90px;
    padding: 0px
}

.codepen-logo {
    color: white;
    font-size: 18px;
    margin-left: 10px;
}

.explore {

}