body {
    margin: 0px;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 100px;
    padding: 0px;
    color: #fff;
    align-items: center;
}


.codepen-logo img{
    display: flex;
    height: 35px;
    width: 160px;
    align-content: center;
    margin-left: 15px;

}


.explore {
    display: flex;
    justify-content: space-around;
}

i {
    color: #fff;
}

